@tailwind base;
@tailwind components;
@tailwind utilities;



.home-main {
    width: 97vw;
    height: 70vh;
    margin: auto;
    background: rgba(0, 0, 0, 0.7) url("/laptop.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
